## Environment Variables
DATABASE_URL=postgresql://reservation_user:reservation_pass@localhost:5432/reservation_db
AWS_REGION=us-east-1
AWS_ENDPOINT=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_CONFIRM_QUEUE_URL=http://localhost:4566/000000000000/reservation-confirm
SQS_CONFIRM_DLQ_URL=http://localhost:4566/000000000000/reservation-confirm-dlq
NODE_ENV=development
PORT=3000
RESERVATION_TTL_MINUTES=5
CRON_EXPIRATION_INTERVAL=*/1 * * * *
